@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'font-expose';
  src: url('/Expose-Regular.otf'); 
 }

/* In your css file where you want to use the font */
.expose-font { 
 font-family: 'font-expose';
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/*global font size*/
html {
  font-size: calc(15px + 0.390625vw);
}

button {
  cursor: auto;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

* {
  cursor: none;
}


